@font-face {
    font-family: "RebrandDis-it";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url("../assets/fonts/RebrandDis-Bold-it.woff2") format("woff2"), url("../assets/fonts/RebrandDis-Bold-it.woff") format("woff");
}

@font-face {
    font-family: "RebrandDis";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url("../assets/fonts/RebrandDis-Bold.woff2") format("woff2"), url("../assets/fonts/RebrandDis-Bold.woff") format("woff");
}

@font-face {
    font-family: "RebrandDis-it";
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url("../assets/fonts/RebrandDis-ExBold-it.woff2") format("woff2"), url("../assets/fonts/RebrandDis-ExBold-it.woff") format("woff");
}

@font-face {
    font-family: "RebrandDis";
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url("../assets/fonts/RebrandDis-Bold.woff2") format("woff2"), url("../assets/fonts/RebrandDis-Bold.woff") format("woff");
}

@font-face {
    font-family: "RebrandDis";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url("../assets/fonts/RebrandDis-Semibold.woff2") format("woff2"), url("../assets/fonts/RebrandDis-Semibold.woff") format("woff");
}

@font-face {
    font-family: "Niramit";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url("../assets/fonts/Niramit-Medium.woff2") format("woff2"), url("../assets/fonts/Niramit-Medium.woff") format("woff");
}