div.historique_champs {

    div.champ {

        padding:1em ;

        div.d-flex>div {
            margin-right:1em ;
            min-width:300px ;
        }
    }

    div.champ:nth-child(even) { background:rgba(0,0,0,.05); }
    div.champ:nth-child(odd) { background:rgba(0,0,0,.1); }

    ul {
        margin:0 ;
        list-style-type:none ;
    }

}