
nav#sidebarMenu>div {
    li.sit>a:before { background-image:url('../images/favicon_sit.ico') }
    li.crm>a:before { background-image: url('../images/favicon_crm.ico'); }
    li.aa>a:before { background-image:url('../images/favicon_aa.png'); }
    li.zd>a:before { background-image:url('../images/favicon_zd.ico'); }
}

i.sit, i.crm, i.aa, i.zd {
    width:16px ; height:16px ; display:inline-block ;
    margin-right:4px ;
    margin-left:4px ;
    background-position:center center ;
    background-size: contain ;
    background-repeat: no-repeat ;
}

i.sit { background-image:url('../images/favicon_sit.ico') }
i.crm { background-image: url('../images/favicon_crm.ico'); }
i.aa { background-image:url('../images/favicon_aa.png'); }
i.zd { background-image:url('../images/favicon_zd.ico'); }