<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Page principale</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Page secondaire</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Sous page</a>
    </li>
</ol>