<ul class="nav flex-column">
              <li class="nav-item aa  sub">
                  <a class="nav-link" href="#">
            Annuaire Annonces
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item aa_organizations  sub">
                  <a class="nav-link" href="#">
            Organisations
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item aa_organizations_logos ">
                  <a class="nav-link" href="#">
            Logos
                      </a>
                    </li>
            </ul>
            </li>
        <li class="nav-item aa_users  sub">
                  <a class="nav-link" href="#">
            Utilisateurs
                      </a>
                                    <ul class="nav flex-column">
                        </ul>
            </li>
        <li class="nav-item aa_offers  sub">
                  <a class="nav-link" href="#">
            Offres - Annonces
                      </a>
                                    <ul class="nav flex-column">
                        </ul>
            </li>
        <li class="nav-item aa_cs  sub">
                  <a class="nav-link" href="#">
            Études de cas
                      </a>
                                    <ul class="nav flex-column">
                        </ul>
            </li>
        <li class="nav-item aa_consent  sub">
                  <a class="nav-link" href="#">
            Consentements
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item aa_consent_dashboards ">
                  <a class="nav-link" href="#">
            Dashboards
                      </a>
                    </li>
        <li class="nav-item aa_consent_subscriptions ">
                  <a class="nav-link" href="#">
            Subscriptions
                      </a>
                    </li>
            </ul>
            </li>
        <li class="nav-item aa_tags  sub">
                  <a class="nav-link" href="#">
            Tags
                      </a>
                                    <ul class="nav flex-column">
                        </ul>
            </li>
        <li class="nav-item aa_references ">
                  <a class="nav-link" href="#">
            Références
                      </a>
                    </li>
        <li class="nav-item aa_tests  sub">
                  <a class="nav-link" href="#">
            Tests GraphQL
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item aa_tests_query ">
                  <a class="nav-link" href="#">
            Query
                      </a>
                    </li>
        <li class="nav-item aa_tests_postman ">
                  <a class="nav-link" href="#">
            Postman
                      </a>
                    </li>
            </ul>
            </li>
        <li class="nav-item aa_reviews ">
                  <a class="nav-link" href="#">
            Reviews
                      </a>
                    </li>
            </ul>
            </li>
        <li class="nav-item sit active sub">
                  <a class="nav-link" href="#">
            SIT - Base
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item sit_notifications ">
                  <a class="nav-link" href="#">
            Notifications
                      </a>
                    </li>
        <li class="nav-item sit_analyse  sub">
                  <a class="nav-link" href="#">
            Analyse
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item sit_analyse_ecritureattente ">
                  <a class="nav-link" href="#">
            Ecritures en attente
                      </a>
                    </li>
        <li class="nav-item sit_analyse_illustrations ">
                  <a class="nav-link" href="#">
            Illustrations
                      </a>
                    </li>
        <li class="nav-item sit_analyse_suppressionmultimedias ">
                  <a class="nav-link" href="#">
            Suppression multimedia
                      </a>
                    </li>
        <li class="nav-item sit_analyse_offre ">
                  <a class="nav-link" href="#">
            Offre
                      </a>
                    </li>
        <li class="nav-item sit_analyse_offres  sub">
                  <a class="nav-link" href="#">
            Offres
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item sit_analyse_offres_encours ">
                  <a class="nav-link" href="#">
            Offres en cours
                      </a>
                    </li>
            </ul>
            </li>
        <li class="nav-item sit_analyse_projet ">
                  <a class="nav-link" href="#">
            Projet
                      </a>
                    </li>
        <li class="nav-item sit_analyse_recherches  sub">
                  <a class="nav-link" href="#">
            Recherches
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item sit_analyse_recherches_filtres ">
                  <a class="nav-link" href="#">
            Filtres
                      </a>
                    </li>
        <li class="nav-item sit_analyse_recherches_parametres ">
                  <a class="nav-link" href="#">
            Paramètres de filtres
                      </a>
                    </li>
        <li class="nav-item sit_analyse_recherches_recherches ">
                  <a class="nav-link" href="#">
            Recherches
                      </a>
                    </li>
        <li class="nav-item sit_analyse_recherches_types ">
                  <a class="nav-link" href="#">
            Types de filtres
                      </a>
                    </li>
            </ul>
            </li>
        <li class="nav-item sit_analyse_selections ">
                  <a class="nav-link" href="#">
            Sélections
                      </a>
                    </li>
        <li class="nav-item sit_analyse_territoires ">
                  <a class="nav-link" href="#">
            Territoires
                      </a>
                    </li>
            </ul>
            </li>
        <li class="nav-item sit_membres active sub">
                  <a class="nav-link" href="#">
            Membres
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item sit_membres_api active sub">
                  <a class="nav-link" href="#">
            API Membres
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item sit_membres_api_userbymail active">
                  <a class="nav-link" href="#">
            Rechercher des utilisateurs par adresse mail
                      </a>
                    </li>
            </ul>
            </li>
            </ul>
            </li>
        <li class="nav-item sit_projets  sub">
                  <a class="nav-link" href="#">
            Projets
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item sit_projets_stats ">
                  <a class="nav-link" href="#">
            Statistiques
                      </a>
                    </li>
        <li class="nav-item sit_projets_enattente ">
                  <a class="nav-link" href="#">
            En attente
                      </a>
                    </li>
        <li class="nav-item sit_projets_mesprojets ">
                  <a class="nav-link" href="#">
            Mes projets
                      </a>
                    </li>
            </ul>
            </li>
        <li class="nav-item sit_quicktrad  sub">
                  <a class="nav-link" href="#">
            QuickTrad
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item sit_quicktrad_liste ">
                  <a class="nav-link" href="#">
            Liste
                      </a>
                    </li>
        <li class="nav-item sit_quicktrad_logs ">
                  <a class="nav-link" href="#">
            Logs
                      </a>
                    </li>
            </ul>
            </li>
        <li class="nav-item sit_referentiel  sub">
                  <a class="nav-link" href="#">
            Référentiel
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item sit_referentiel_communes ">
                  <a class="nav-link" href="#">
            Communes
                      </a>
                    </li>
            </ul>
            </li>
        <li class="nav-item sit_traitement  sub">
                  <a class="nav-link" href="#">
            Traitements
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item sit_traitement_descriptifsthematises  sub">
                  <a class="nav-link" href="#">
            Descriptifs thématisés
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item sit_traitement_descriptifsthematises_export ">
                  <a class="nav-link" href="#">
            Export réimportable
                      </a>
                    </li>
        <li class="nav-item sit_traitement_descriptifsthematises_import ">
                  <a class="nav-link" href="#">
            Import
                      </a>
                    </li>
            </ul>
            </li>
            </ul>
            </li>
        <li class="nav-item sit_utilisateurs  sub">
                  <a class="nav-link" href="#">
            Utilisateurs
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item sit_utilisateurs_exportdolist ">
                  <a class="nav-link" href="#">
            Export Dolist
                      </a>
                    </li>
            </ul>
            </li>
            </ul>
            </li>
        <li class="nav-item crm  sub">
                  <a class="nav-link" href="#">
            CRM - Sellsy
                      </a>
                                    <ul class="nav flex-column">
                        </ul>
            </li>
        <li class="nav-item taches  sub">
                  <a class="nav-link" href="#">
            Tâches
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item taches_mestaches ">
                  <a class="nav-link" href="#">
            Mes tâches
                      </a>
                    </li>
        <li class="nav-item taches_manager ">
                  <a class="nav-link" href="#">
            Task manager
                      </a>
                    </li>
            </ul>
            </li>
        <li class="nav-item ws ">
                  <a class="nav-link" href="#">
            Webservices
                      </a>
                    </li>
        <li class="nav-item org  sub">
                  <a class="nav-link" href="#">
            Organisation
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item org_timers ">
                  <a class="nav-link" href="#">
            org_timers
                      </a>
                    </li>
            </ul>
            </li>
        <li class="nav-item zd  sub">
                  <a class="nav-link" href="#">
            Zendesk
            <span class="chevron"></span>          </a>
                                    <ul class="nav flex-column">
                    <li class="nav-item zd_releases ">
                  <a class="nav-link" href="#">
            Releases
                      </a>
                    </li>
          <li class="nav-item zd_tickets  sub">
                  <a class="nav-link" href="#">
            Mes tickets
                      </a>
                                    <ul class="nav flex-column">
                        </ul>
            </li>
        <li class="nav-item zd_hooks ">
                  <a class="nav-link" href="#">
            Notifications Zendesk
                      </a>
                    </li>
        <li class="nav-item zd_organizations ">
                  <a class="nav-link" href="#">
            Organisations
                      </a>
                    </li>
        <li class="nav-item zd_recherche  sub">
                  <a class="nav-link" href="#">
            Recherche
                      </a>
                                    <ul class="nav flex-column">
                        </ul>
            </li>
        <li class="nav-item zd_hotlinetechnique ">
                  <a class="nav-link" href="#">
            Tickets Hotline technique
                      </a>
                    </li>
        <li class="nav-item zd_dev ">
                  <a class="nav-link" href="#">
            Tickets Apidae équipe dev
                      </a>
                    </li>
            </ul>
            </li>
  
    </ul>