header {
    height: 4.375rem;
    background: $white ;
    border-bottom: .0625rem solid #ececec;
    box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
    padding: .3125rem 0.9375rem;

    >nav {
        height: 100%;

        >div {
            height: 100%;
        }
    }

    a {
        color: $bleuroi ;
    }

}