{% if app_env != 'prod' %}
    <div class="env">
        <i class="fas fa-cogs env"></i> {{ app_env }}
        <ul>
            {% for v in ['AA_URL','HASURA_ENDPOINT','APIDAE_WS_URL','SIT_URL','SIT_SQL_HOST','SIT_SQL_PORT','SIT_SQL_DBNAME','APIDAE_ECRITURE_PROJETID','APIDAE_LECTURE_PROJETID','APIDAE_MEMBRES_PROJETID','APIDAE_DESCRIPTIFSTHEMATISES_PROJETID','APIDAE_SSO_REDIRECTURI'] %}
            <li><strong>{{v}}</strong> : {{ app.request.server.get(v) }}</li>
            {% endfor %}
        </ul>
    </div>
    <script>
    jQuery(document).on('click', 'div.env>i, div.env>ul', function (e) {
        console.log(jQuery(this).closest('div').find('ul').length);
        jQuery(this).closest('div').find('ul').toggle();
    });
    </script>
{% endif %}
