<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between border-bottom">
    {% include 'logo.html.twig' %}
    {% block nav %}
    <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        {% if nav is defined and nav is iterable %}
            {% for path, name in nav %}
                <li class="nav-item">
                    <a href="{{ path(path) }}" class="nav-link {% if app.request.get('_route') == path %}active{% endif %}">{{ name }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    {% endblock %}
    {% include 'header.user.html.twig' %}
</header>