<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between border-bottom">
    <a href="/" class="logo-apidae">
        <span>Apidae</span>
        {% if app_title is defined %}
            <strong>{{ app_title }}{% if app_env != 'prod' %}.{{ app_env }}{% endif %}</strong>
        {% endif %}
    </a>
    <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        {% if nav is defined and nav is iterable %}
            {% for path, name in nav %}
                <li class="nav-item">
                    <a href="{{ path(path) }}" class="nav-link {% if app.request.get('_route') == path %}active{% endif %}">{{ name }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <div class="dropdown text-end">
        {% include 'header.user.html.twig' %}
    </div>
</header>