{% block breadcrumb %}
    {% if breadcrumb is defined %}
        {% include 'breadcrumb.html.twig' %}
    {% else %}
        {% include 'demo/breadcrumb.html.twig' %}
    {% endif %}
{% endblock %}
{% block h1 %}
    <h1>{{ titre|default(app.request.get('_route')|trans) }}</h1>
{% endblock %}
{% block alerts %}
    {% include 'alerts.html.twig' %}
{% endblock %}
{% block main %}{% endblock %}
{% block helper %}{% endblock %}
{% if debug is defined %}
    {{ dump(debug) }}
{% endif %}
{% if gql is defined %}
    <pre style="font-size:.6em;max-height:80px;overflow:auto;"><code>{{ gql }}</code></pre>
{% endif %}