{% if badge is defined %}

    {% if nb > 0 %}<span class="badge bg-{{ badge }}">{{ nb }}</span>{% endif %}

{% else %}

    {% if nb == 1 %}<span class="badge bg-warning">1</span>{% endif %}
    {% if nb > 1 %}<span class="badge bg-danger">{{ nb }}</span>{% endif %}

{% endif %}